/* Hello World CSS for 'Guess the Number' side-game */

:root {
    --blue-dd: #0A4A70;
    --blue-d: #126292;
    --blue: #2E749E;
    --blue-l: #4B8BB1;
    --blue-ll: #76ADCD;
    --yellow-dd: #B08306;
    --yellow-d: #E5AC10;
    --yellow: #F8C63E;
    --yellow-l: #FFD563;
    --yellow-ll: #FFE18D;
    --blue-shadow: #76ADCD6A;
}

.hello-world-container {
    flex-direction: column;
    padding: 10px 10px;
    margin: 252px 30px 35px -400px;
    min-width: 300px;
    max-width: 300px;
    min-height: 450px;
    max-height: 450px;
    position: sticky;
    position: -webkit-sticky;
    top: 75px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 200px 0px var(--blue-shadow);
    border-radius: 4px;
    align-self: stretch;
    transition: ease all .5s;
}
.hello-world-container:hover {
    box-shadow: 0 0px 2px 1px var(--blue-shadow);
}
.hello-world-header {
    font-size: 1rem;
    color: var(--blue-d);
    text-align: center;
}
.game-buttons {
    text-align: center;
}
.game-buttons button {
    border: 0px solid var(--blue-d);
    border-radius: 3px;
    background-color: whitesmoke;
    color: var(--blue-d);
    font-size: 1rem;
    width: 50px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 10px 0px var(--blue-shadow);
    transition: ease all .5s;
}
#yes-button {
    font-weight: bold;
}
#yes-button:hover {
    box-shadow: 0px 0px 2px 0px var(--blue-l);
    background-color: var(--yellow-ll);
}
#no-button:hover {
    box-shadow: 0px 0px 2px 0px var(--blue-l);
    background-color: var(--yellow-ll);
}

@media screen and (max-width: 1200px) {
    .hello-world-container {
        display: none;
    }
}