html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #e9e9e9;
}

#hello {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: #126292;
    margin-top: 100px;
}

.fade-in {
    animation: fadeIn ease 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}