:root {
    --blue-dd: #0A4A70;
    --blue-d: #126292;
    --blue: #2E749E;
    --blue-l: #4B8BB1;
    --blue-ll: #76ADCD;
    --yellow-dd: #B08306;
    --yellow-d: #E5AC10;
    --yellow: #F8C63E;
    --yellow-l: #FFD563;
    --yellow-ll: #FFE18D;
    --blue-shadow: #76ADCD6A;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

.avatar-container {
    width: 165px;
    height: 165px;
    margin: 20px 20px -200px 15px;
    padding: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 55px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: ease all .5s;
}
.avatar {
    margin: 0;
    padding: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    text-align: center;
    background-color: var(--blue-l);
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px var(--blue-ll);
    transition: ease all .5s;
}
.avatar img {
    margin: 0;
    padding: 0;
    width: 150px;
    margin-top: -22px;
    object-fit: unset;
    clip-path: circle(75px at center);
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px var(--blue-ll);
    transition: ease all .5s;
}
.subtitle {
    margin-top: 5px;
    padding: 0;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--blue-d);
    text-align: center;
    transition: ease all .5s;
}

.title-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 300px;
    background: linear-gradient(to left, var(--blue-dd), var(--blue-l));
    transition: ease all .5s;
}
.title {
    margin-left: 20%;
    margin-top: 30px;
    font-size: 5rem;
    font-weight: bold;
    align-self: center;
    transition: ease all .5s;
    color: #FFE18D;
    text-shadow: 0 0 10px #E5AC10;
    transition: letter-spacing 4s ease-out;
    transition: font-size 2s ease-out;
}

.links-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background: linear-gradient(to left, var(--yellow-d), var(--yellow-ll));
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    box-shadow: 0px 2px 5px 0px var(--blue-shadow);
    z-index: 25;
    transition: ease all .5s;
}
.links {
    width: 84%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    transition: ease all .5s;
}
.link {
    margin: 0 15px;
    transition: ease all .5s;
    align-self: center;
    text-decoration: none;
    color: var(--blue-d);
    align-items: center;
    display: flex;
    transition: ease all .5s;
}
.link svg {
    fill: var(--blue-d);
}
.link svg:hover {
    fill: var(--blue-l);
}
#resume {
    margin-left: 40%;
    color: var(--blue-dd);
    font-weight: bold;
}
#resume:hover {
    color: var(--blue-l);
}

.main-body-container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
}
.tech-container {
    margin-top: 30px;
    float: left;
    width: 15%;
    height: 0;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 260px;
    justify-content: flex-end;
    z-index: 5;
}
.experience-item {
    margin: 5px;
    color: var(--blue-l);
    text-align: center;
    font-size: 1.1rem;
}
.tech {
    margin: 5px;
    padding: 5px 7px;
    color: var(--blue-ll);
    border: 1px solid var(--blue-shadow);
    border-radius: 3px;
    font-size: 1rem;
    transition: ease all .5s;
    z-index: 5;
}
.tech-m {
    margin: 5px;
    padding: 5px 7px;
    color: var(--blue-ll);
    border: 1px solid var(--blue-shadow);
    border-radius: 3px;
    font-size: 0.8rem;
    transition: ease all .5s;
    z-index: 5;
}
.main-body {
    width: 85%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 150px 0px var(--blue-shadow);
    z-index: 10;
}

.hello {
    margin: 25px 25px;
    padding: 0;
}
.hello h1 {
    margin: 0;
    padding: 0;
    color: var(--yellow);
    font-size: 3rem;
    text-shadow: 1px 0px 2px var(--blue-l);
}
.hello p {
    margin: 10px ;
    padding: 0;
    color: var(--blue-dd);
    font-size: 1.3rem;
}

.projects {
    width: 100%;
    margin-top: 50px;
    transition: ease all .5s;
}
.project-container {
    max-width: 60%;
    margin: 0 15px 50px 15px;
    padding: 15px;
    box-shadow: 0 0px 70px 2px var(--blue-shadow);
    border-radius: 5px;
    transition: ease all .5s;
}
.project-container:hover {
    box-shadow: 0 0px 2px 2px var(--blue-shadow);
}
.project-name {
    font-size: 2rem;
    color: var(--yellow);
    text-shadow: 1px 0px 2px var(--blue-l);
}
.project-description {
    font-style: italic;
    margin: 10px;
    padding: 0 10px;
    font-size: 1rem;
    border-left: 3px solid var(--yellow-l);
    color: var(--blue-d);
    transition: ease all 1s;
}
.project-tech {
    margin: 3px 10px;
    transition: ease all .5s;
}
.project-images {
    margin: 0;
    padding: 0;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.project-images img {
    margin: 5px;
    padding: 2px;
    border: 5px solid white;
    align-self: flex-start;
    border-radius: 5px;
    width: 100%;
    display: none;
    transition: ease all 1s;
}
.project-links {
    margin: 10px;
    padding: 0 0px;
    font-size: 1rem;
    color: var(--yellow-dd);
}
.project-links a:hover {
    color: var(--blue-ll);
}

.footer-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to left, var(--blue-dd), var(--blue-l));
    z-index: 50;
    box-shadow: 0px -3px 4px 0px var(--blue-shadow);
}
.footer-links {
    margin: 10px 16%;
    font-size: 1rem;
    color: var(--yellow-d);
    display: flex;
    align-items: stretch;
}
.footer-block {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer-block a {
    margin: 5px 0;
}
.footer-block a:hover {
    color: var(--yellow-ll);
}

@media screen and (max-width: 1200px) {
    .avatar-container {
        width: 120px;
        height: 120px;
        margin: 20px 20px -200px 10px;
    }
    .avatar {
        padding: 10px;
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 10px 0px var(--blue-ll);
    }
    .avatar img {
        width: 100px;
        margin-top: -15px;
        clip-path: circle(50px at center);
    }
    .subtitle {
        font-size: 0.6rem;
    }

    .title {
        margin-top: 55px;
        font-size: 3.5rem;
    }

    .tech-container {
        top: 210px;
    }

    .experience-item {
        font-size: 1rem;
    }

    .project-container {
        max-width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .avatar-container {
        width: 90px;
        height: 90px;
        margin: 20px 20px -200px 5px;
    }
    .avatar {
        padding: 5px;
        width: 80px;
        height: 80px;
    }
    .avatar img {
        width: 80px;
        margin-top: -12px;
        clip-path: circle(40px at center);
    }
    .subtitle {
        font-size: 0.6rem;
    }

    .title {
        margin-top: 80px;
        font-size: 3rem;
    }
    .links {
        width: 85%;
    }
    #resume {
        margin-left: 19%;
    }
    .tech-container {
        top: 175px;
    }
    .experience-item {
        font-size: 0.8rem;
    }
    .tech {
        padding: 2px 3px;
        margin: 2px;
        font-size: 0.6rem;
    }
    .project-container {
        max-width: 90%;
    }
}

@media screen and (max-width: 565px) {
    .avatar-container {
        width: 165px;
        height: 165px;
        margin: -25px auto;
        padding: 0;
        position: relative;
        z-index: 10;
    }
    .avatar {
        margin: 0;
        padding: 10px;
        width: 150px;
        height: 150px;
        object-fit: cover;
        text-align: center;
        background-color: var(--blue-l);
        border-radius: 50%;
        box-shadow: 0px 0px 150px 0px var(--blue-ll);
    }
    .avatar img {
        margin: 0;
        padding: 0;
        width: 150px;
        margin-top: -22px;
        clip-path: circle(75px at center);
    }
    .subtitle {
        margin-top: 5px;
        padding: 0;
        font-size: 1rem;
        font-weight: bold;
        color: var(--blue-d);
        text-align: center;
    }

    .title-container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 150px;
        background: linear-gradient(to left, var(--blue-dd), var(--blue-l));
    }
    .title {
        margin: 10px auto;
        font-size: 1.5rem;
        align-self: flex-end;
    }

    .links {
        width: 100%;
        justify-content: space-evenly;
    }
    .link {
        margin: 0 3px;
    }
    #resume {
        margin-left: 5px;
    }

    .main-body-container {
        justify-content: center;
    }
    .tech-container {
        width: 0%;
    }
    .experience-item {
        font-size: 0rem;
    }
    .tech {
        color: var(--blue-ll);
        border: none;
        font-size: 0rem;
        transition: ease all .5s;
    }
    .tech-m {
        margin: 4px;
        padding: 3px 5px;
        color: var(--blue-ll);
        border: 1px solid var(--blue-shadow);
        border-radius: 3px;
        font-size: 0.7rem;
        transition: ease all .5s;
        z-index: 5;
    }
    .main-body {
        width: 95%;
        box-shadow: 0px 0px 3px 0px var(--blue-shadow);
    }
    .project-container {
        max-width: 100%;
    }
    .project-links {
        font-size: 0.8rem;
    }
}