html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    min-height: 200px;
    justify-content: center;
}

#simplebeat {
    font-size: 4.5rem;
    font-weight: bold;
    color: #FFE18D;
    align-self: center;
    text-shadow: 0 0 10px #E5AC10;
    font-stretch: extra-expanded;
}

.menu {
    z-index: 49;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 0 5px 5px 0 rgba(10, 74, 112, 0.2);
}

.menu-item {
    z-index: 50;
    font-size: 1.5rem;
    color:  #76ADCD;
    margin: 5px 15px;
    text-shadow: 0 0 3px #FFD563;
}

.menu-item:hover {
    cursor: pointer;
    text-shadow: 0 0 7px white;
}

.paper {
    z-index: 40;
    width: 85%;
    opacity: 50;
    box-shadow: 0 5px 100px 2px rgba(10, 74, 112, 0.2);
}

.sampletext {
    font-size: 1.4rem;
    margin: 5px;
    padding: 5px;
    z-index: 41;
}

.header {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    background: #E5AC10;  
    background: linear-gradient(to left, #E5AC10, #FFD563);
    width: 100%;
    z-index: 49;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer-container {
    background: #126292;  
    background: linear-gradient(to left, #0A4A70, #4B8BB1);
    font-size: 1rem;
    color: #FFE18D;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    z-index: 50;
    box-shadow: 0 -5px 5px 0 rgba(10, 74, 112, 0.2);
}

.footer-links {
    list-style-type: none;
    font-size: 1rem;
    text-align: center;
    margin-top: 30px;
}

.footer-link {
    margin: 10px 10px;
}

.footer-link:hover {
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 39px;
}

/* Effects */

.fade-in {
    animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.area{
    margin: 0;
    padding: 0;
    background: #126292;  
    background: linear-gradient(to left, #0A4A70, #4B8BB1);  
    width: 100%;  
}

.circles{
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.4);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@media screen and (max-width: 600px) {
    #simplebeat {
        font-size: 3rem;
    }
    .menu-item {
        font-size: 1rem;
    }
    .sampletext {
        font-size: 1.2rem;
    }
    .paper {
        width: 95%;
    }
}